

.main-card-img {
    height: 160px;
    margin: 0;
    justify-self: center;
    border-radius: 50% !important;
}

.content {
    display: grid;
    grid-template-columns: 20% 60%;
    padding: 3%;
}

.card-text {
    margin: auto 50px;
    padding: 5%;
    border: solid #fc6767 1px;
    border-radius: 15px;
}

.card-name {
    margin: 20px 20px 0 -10px ;
    text-align: center;
}

.m-card {
    margin: 100px auto;
    min-height: 200px;
}

.day {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

@media(max-width: 768px) {
    .content {
        grid-template-columns: 100%;
    }
}


.alumni:hover, .main-card-img:hover {
    box-shadow: 0 2px 4px #003;
    transform: scale(1.009);

}

