<app-header [bg]="'bg4'" [header]="{title: 'Outcomes', text: 'These are our results, which we are proud of!'}"></app-header>


<nav class="container-fluid mt-5" id="header">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label class="tab">
                <i class="fas fa-users"></i>
                Who are our graduates ?
            </ng-template>
            <app-who></app-who>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label class="tab">
                <i class="fas fa-user-md"></i>
                What they are working ?
            </ng-template>
            <app-where></app-where>
        </mat-tab>

    </mat-tab-group>
</nav>
