<section class="sdgs">
  <div class="head">
    <h1>Proud to Meet at Least Nine UN 
      <span>
        SDGs
      </span>
    </h1>
  </div>
  <div class="photos">
    <div>
      <img src="../../../../../../assets/sdgs/1.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/2.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/4.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/5.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/8.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/9.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/10.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/12.png" alt="sdgs" class="img">
    </div>
    <div>
      <img src="../../../../../../assets/sdgs/16.png" alt="sdgs" class="img">
    </div>
  </div>
</section>