.sdgs{
	background: url("../../../../../../assets/pink.jpg"); 
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5%;
}
.photos {
	display: flex;
	justify-content: center;
	align-content: center;
}
.img {
	max-width: 150px;
	padding: 1%;
}
