<div class="hiring">
  <div class="head">
    <h1>Hired 
      <span>By</span>
    </h1>
  </div>

  <div class="companySlide">
    <div class="row ">
      <div class="empty-space">
      </div>
      <div class="Arrow">
        <dir id="LArrow" (click)="goLeft()"></dir>
      </div>
      <div class="col col-9 align-self-center">
        <div class="row justify-content-md-center" id="company1">
          <div class="col">
            <a href="https://www.amazon.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/amazon.png">
            </a>
          </div>
          <div class="col">
            <a href="https://www.expedia.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/expedia-logo.png">
            </a>
          </div>
          <div class="col">
            <a href="https://www.altibbi.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/altibbi.png">
            </a>
          </div>
          <div class="col">
            <a href="http://en.arabiaweather.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/ArabiaWeather.jpg">
            </a>
          </div>
          <div class="col">
            <a href="https://jo.opensooq.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/open_souq.png">
            </a>
          </div>
        </div>
        <div class="row justify-content-md-center" id="company2" style="display: none;">
          <div class="col">
            <a href="https://www.britecore.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/britecore-logo.png" >
            </a>
          </div>
          <div class="col">
            <a href="http://www.ihorizons.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/ihorizonslogo.png">
            </a>
          </div>
          <div class="col">
            <a href="http://madfooat.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/MadfooatCom-Logo-01.jpg">
            </a>
          </div>
          <div class="col">
            <a href="https://uae.souq.com">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/open_souq.png">
            </a>
          </div>
          <div class="col">
            <a href="http://optimiza.me/">
              <img class="companyLogo" src="../../../../../../assets/RBK/hiring/optimiza.png">
            </a>
          </div>
        </div>
      </div>
      <div class=" Arrow">
        <dir id="RArrow" (click)="goRight()"></dir>
      </div>
      <div class="empty-space">
      </div>
    </div>
  </div>
</div>
