.img {
    max-width: 150px;
}
.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hiring {
    background: url(https://source.unsplash.com/L8126OwlroY);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14% 0;
    margin-top: 15%;
}