<div class="head">
  <h1 class="text-secondary">Our
    <span>Supporters</span>
  </h1>
</div>
<div class="imgs container">
  <img src="../../../../../../assets/RBK/express.png" alt="" class="hire wow animated rotateIn slow">
  <img src="../../../../../../assets/RBK/express.png" alt="" class="hire wow animated rotateIn slow delay-1s">
  <img src="../../../../../../assets/RBK/express.png" alt="" class="hire wow animated rotateIn slow delay-2s">
  <img src="../../../../../../assets/RBK/express.png" alt="" class="hire wow animated rotateIn slow delay-3s">
  <img src="../../../../../../assets/RBK/express.png" alt="" class="hire wow animated rotateIn slow delay-4s">
  <img src="../../../../../../assets/RBK/express.png" alt="" class="hire wow animated rotateIn slow delay-5s">
</div>