<div class="hiring">
  <div class="head">
    <h1>Our
      <span>Supporters</span>
    </h1>
  </div>
  <div class="container">
    <div>
      <img src="../../../../../../assets/RBK/express.png" alt="" class="img wow animated rotateIn slow">
    </div>
    <div>
      <img src="../../../../../../assets/RBK/express.png" alt="" class="img wow animated rotateIn slow delay-1s">
    </div>
    <div>
      <img src="../../../../../../assets/RBK/express.png" alt="" class="img wow animated rotateIn slow delay-2s">
    </div>
    <div>
      <img src="../../../../../../assets/RBK/express.png" alt="" class="img wow animated rotateIn slow delay-3s">
    </div>
    <div>
      <img src="../../../../../../assets/RBK/express.png" alt="" class="img wow animated rotateIn slow delay-4s">
    </div>
    <div>
      <img src="../../../../../../assets/RBK/express.png" alt="" class="img wow animated rotateIn slow delay-5s">
    </div>
  </div>
</div>