.img {
    max-width: 150px;
}
.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hiring {
    background: url("../../../../../../assets/RBK/background_00000.gif");
    /* background: url("../../../../../../assets/RBK/night.jpeg"); */

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1% 0;
    /*margin-top: 10%;*/
}