<div class="animated slower fadeIn">
  <app-header [bg]="'bg2'" [header]="{title: 'Apply', text: 'This is the first step to the futur !'}"></app-header>
  <div class="sign">
    <h1>
      <i class="fas fa-exclamation-triangle animated fast infinite pulse"></i>
    </h1>
    <h2>Admissions is currently
      <span> closed !</span>
    </h2>
    <p class="text-dark" class="pt-3">Please check our
      <a href="https://www.facebook.com/rbk.org">
        Facebook Page
      </a>
       for updates regarding the next admissions cycle.
    </p>
  </div>

<div class="container">
  <h1 class="text-white text-center mt-10">In the <span> meantime </span> </h1>
  <mat-card>
    <mat-card-content>
      <p class="card-text"><i class="fa-3x fas fa-language"></i>consider RBK receives over 1,000-2,000 applications for each 40 person cohort. The most common
        reason applicants are rejected is poor English ability - lack of comprehension of both spoken and written English.
        English ability correlates strongly with success in our program
        so we highly recommend you improve your English before applying. If you are
        <a href="http://www.cambridgeenglish.org/exams-and-tests/cefr/">less than B1</a>, you should consider enrolling in online self study course. Test yourself
        <a href="http://learnenglish.britishcouncil.org/en/content">HERE</a>. There are many FREE online resources. Some require registering but DO NOT PAY. All you need and more
        is available online for free.
      </p>
    </mat-card-content>
  </mat-card>

<h1 class="text-white text-center mt-10"> Here is some Useful <span> Resources </span> </h1>
<mat-card>
<ul class="list-inline">
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    <a href="http://learnenglish.britishcouncil.org/en">British Council</a> - Dig into this site, there is a ton of free resources.
  </li>
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    <a href="https://www.fluentu.com/blog/english/learn-english-esl-youtube/">YouTube </a> -
    <a href="https://www.youtube.com/results?search_query=learn+english">Tons of video classes </a>
  </li>
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    <a href="https://www.duolingo.com/course/en/ar/Learn-English-Online">Duolingo English</a>
  </li>
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>and
    <a href="https://www.duolingo.com/register">HERE</a>
  </li>
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    <a href="http://www.speakmethod.com/LearnbyLanguageArabic.html">Speak Method </a> English lessons for beginners</li>
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    Or simply pick up a book and start reading but keep a dictionary close.
  </li>
</ul>
</mat-card>

<mat-card class="my-5">
    <h4 class="mb-3">
      If your English is at least B1 and you want to prepare yourself for the technical aspects of the program, check out some of these sites
   </h4>
    <ul class="list-inline">
      <li class="list-block-item ml-5">
        <i class="fas fa-angle-double-right"></i>
        <a href="http://codecademy.com/"> Codecademy</a> - Start with HTML/CSS lessons. Advance to Javascript after you have mastered HTML/CSS. Good
        for beginners.
      </li>
      <li class="list-block-item ml-5">
        <i class="fas fa-angle-double-right"></i>
        <a href="https://www.khanacademy.org/computing/computer-programming">Khan Academy</a>’s Computer Programming courses - Fantastic for beginners. Highly recommended. </li>
      <li class="list-block-item ml-5">
        <i class="fas fa-angle-double-right"></i>
        <a href="https://www.reddit.com/r/LearnJavascript">learnJavascript</a> - A Reddit subreddit with a lot of good links and other JavaScript learners
      </li>
      <li class="list-block-item ml-5">
        <i class="fas fa-angle-double-right"></i>
        <a href="https://www.freecodecamp.org/">Free Code Camp</a> Very good website that takes you from zero to hero
      </li>
    </ul>
</mat-card>


<mat-card class="my-5">
    <h4 class="mb-3">
      If your English is great and you are already a HTML/CSS/JS ninja, then spend some time time working on your applied
        problem solving skills.
   </h4>
   <ul class="list-inline">
     <li class="list-block-item ml-5">
       <i class="fas fa-angle-double-right"></i>
       <a href="https://www.codewars.com/?language=javascript">Codewars</a> is a great site for refining these skills.
     </li>
     <li class="list-block-item ml-5">
       <i class="fas fa-angle-double-right"></i>
       <a href="https://coderbyte.com/">Coderbyte</a> Also is a great site to sharp your problem solving skills</li>
   </ul>
</mat-card>

<mat-card>
<h4 class="mb-3"> Finally, can you type without looking down at your keyboard? If not, practice your typing, it will save add hours
  to your day.
</h4>
<ul class="list-inline">
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    <a href="http://www.keybr.com/#!practice"> Key Br </a> this website is good to learn typing.
  </li>
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    <a href="https://www.typingclub.com">Typing Club </a> very good website to improve your typing skills.
  </li>
  <li class="list-block-item ml-5">
    <i class="fas fa-angle-double-right"></i>
    <a href="https://play.typeracer.com/">Type Racer </a> you can enjoy typing and play it as a game here.
  </li>

</ul>
</mat-card>
<h3 class="text-center text-white m-5"> Mastering all the above does not guarantee you a seat in our program but it will greatly enhance your chances.</h3>
<h1 class="text-center text-white m-5">Good <span>
 luck!
</span></h1>


</div>
</div>
