.brand {
    background: rgba(0, 0, 0, .5);
    width: 100vw;
}

.brand img {
    width: 100px;
    mix-blend-mode: screen;
    float: right;
}



.nav-arrow i {
    font-size: 20px;
    color: #82115E;
    background: white;
    padding: 10px;
    border-radius: 50%;
    margin: 0 20px;
}

.nav-arrow i:hover {
    background-color: #ff0379;
    color: white;
}
