<div id="navbar" class="nav-bar">
    <ul class="blocks">
      <li routerLink="/" class="nav-block">
        <a>
          HOME
        </a>
      </li>
      <li routerLink="/program" class="nav-block">
        <a>
          PROGRAM
        </a>
      </li>
      <li routerLink="/curriculum" class="nav-block">
        <a>
          CURRICULUM
        </a>
      </li>
      <li routerLink="/admissions" class="nav-block">
        <a>
          ADMISSIONS
        </a>
      </li>
      <li routerLink="/outcomes" class="nav-block">
        <a>
          OUTCOMES
        </a>
      </li>
      <li routerLink="/partners" class="nav-block">
        <a>
          PARTNERS
        </a>
      </li>
      <li routerLink="/volunteers" class="nav-block">
        <a>
          VOLUNTEERS
        </a>
      </li>
    </ul>
</div>
