<div class="people">
  <div class="head">
    <h1> LIVES CHANGED</h1>
    
  </div>


  <div class="grid">
    <figure class="effect-steve">
      <img src="https://imageog.flaticon.com/icons/png/512/18/18359.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="img29" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
    <figure class="effect-steve">
      <img src="https://imageog.flaticon.com/icons/png/512/18/18359.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="img33" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
    <figure class="effect-steve">
      <img src="https://imageog.flaticon.com/icons/png/512/18/18359.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="img33" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
  </div>
</div>