
.people{
	min-height: 150px;
	overflow: hidden;
	/*background: url("../../../../../../assets/RBK/background_00000.gif");*/
	 background: url("../../../../../../assets/RBK/aa.jpg"); 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}