<div class="people">
  <div class="head">
    <h1>What people
      <span>say ?</span>
    </h1>

    <h1 class="reflect">What people
      <span>say ?</span>
    </h1>
  </div>


  <div class="grid">
    <figure class="effect-steve">
      <img src="https://source.unsplash.com/random" alt="img29" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
    <figure class="effect-steve">
      <img src="https://source.unsplash.com/random" alt="img33" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
    <figure class="effect-steve">
      <img src="https://source.unsplash.com/random" alt="img33" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
  </div>
</div>