<app-header [bg]="'bg5'" [header]="{title: 'Curriculum', text: 'The famous Hack Reactor curriculum will make you a ninja programmer!'}"></app-header>

<div class="wrapper">

    <div class="container">
        <mat-card class="p-3 border-r">
            <p>
                RBK’s Xtreme Learning Program will make you a confident, autonomous and fully capable software engineer. Our curriculum is
                always under revision to make sure that you are armed with the latest techniques and technologies. In the
                beginning, you’ll feel like a thousand people are speaking to you at the same time. Suddenly, you’ll be building
                projects using your newly acquired knowledge. When you’re done, you will easily wrestle any problem and build
                applications you never thought possible!
            </p>
        </mat-card>



        <div class="head sec">
            <h3 class="text-white bg-dark">The program is divided into two
                <span>Phases</span>
            </h3>
        </div>

        <div class="grid mb-5">
            <figure class="effect-lily">
                <h4 class="text-white bg-dark p-2 ">Phase 1</h4>
                <img src="../../../../../assets/RBK/future.jpg" alt="img12" />
                <figcaption>
                    <div>
                        <p>During this phase, you will learn the basic fundamentals of programming and higher order concepts
                            using JavaScript.</p>
                    </div>
                </figcaption>
            </figure>
            <figure class="effect-lily">
                <h4 class="text-white bg-dark p-2">Phase 2</h4>
                <img src="../../../../../assets/RBK/future.jpg" alt="img1" />
                <figcaption>
                    <div>
                        <p>You’ll take part in two-day sprints where each sprint covers a new different concept from a different
                            section of web development.</p>
                    </div>
                </figcaption>
            </figure>
        </div>


        <div class="head sec mt-5">
            <h3 class="text-white bg-dark">And the phase two is divided into two
                <span>Stages</span>
            </h3>
        </div>


        <div class="grid mb-5">
            <figure class="effect-sadie">
                <img src="../../../../../assets/RBK/code.jpeg" alt="img02" />
                <figcaption>
                    <h2>Junior
                        <span>Stage</span>
                    </h2>
                    <p>|Fundamentals of computer science |Full Stack JavaScript Development |Flying Solo Week</p>
                </figcaption>
            </figure>
            <figure class="effect-sadie">
                <img src="../../../../../assets/RBK/code.jpeg" alt="img14" />
                <figcaption>
                    <h2>Senior
                        <span>Stage</span>
                    </h2>
                    <p>|Application Design and planing |Application Development</p>
                </figcaption>
            </figure>
        </div>


        <div class="head sec mt-5">
            <h3 class="text-white bg-dark">The technologies you will
                <span>practice</span>
            </h3>
        </div>

        <mat-card class="tech-wrap bg-white container">
            <img class="tech" src="../../../../../assets/RBK/4rt.jpg" alt="">
            <img class="tech" src="../../../../../assets/RBK/ajax.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/algorithems.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/angular.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/api.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/backbone.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/bootstrap-social-logo.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/css-logo.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/express.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/GitHub-Mark.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/heroku.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/HTML_Logo.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/javascript.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/jquery-logo-png--800.gif" alt="">
            <img class="tech" src="../../../../../assets/RBK/mongodb.png" alt="">
            <img class="tech" src="../../../../../assets/RBK/mysql.svg" alt="">
            <img class="tech" src="../../../../../assets/RBK/node.jpg" alt="">
            <img class="tech" src="../../../../../assets/RBK/React.png" alt="">
        </mat-card>
    </div>
</div>