.grid {
    max-width: 1200px;
    list-style: none;
    text-align: center;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
}

@media(max-width: 768px) {
    .grid {
        grid-template-columns: 100%;
    }
}

.card-text {
  font-size: 20px;
  padding: 20px;
}
.img img {
    height: 70px;
    max-width: 70px;
    margin: 50px;
}

.ih-item.circle.effect11 .info {
    background: rgba(0, 0, 0, .4);
    height: 176px;
    width: 176px;
}

.ih-item.circle.effect11 .info p {
    font-size: 7%;
}


.circle {
    height: 80%;
    width: 80%;
}

.ih-item.circle .img:before {
    height: 80%;
    width: 80%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.head {
    margin-top: 14%;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
}

.wrapper {
    overflow: hidden;
}

/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 600px;
    max-height: 360px;
    width: 90%;
    text-align: center;
    cursor: pointer;
}

@media(max-width: 768px) {
    .grid figure {
        width: 100%;
    }
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 400px;
    opacity: 0.6;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tech-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: url(https://source.unsplash.com/random);
    margin: auto 0;
    border-radius: 10px;
    padding: 10%;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 786px) {
    .tech-wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tech {
        margin: 10px;
    }
}


@media(max-width: 480px) {
    .tech-wrap {
        grid-template-columns: 1fr 1fr;
    }
}

.tech {
    width: 120px;
    height: 120px;
    margin: 35px;
    border: 2px solid white;
    border-radius: 100%;
    padding: 30px;

}

.tech img {
    max-width: 60px;
    max-height: 60px;
    min-width: 45px;
    min-height: 45px;
}
/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 65.5%;
}

figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.5;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-lily figcaption {
    text-align: left;
}

figure.effect-lily figcaption>div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
    -webkit-transform: translate3d(0, 340px, 0);
    transform: translate3d(0, 340px, 0);
}

figure.effect-lily h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-lily p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
    opacity: 8;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}



/* sadie */

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #ccc;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 2;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
