<app-header [bg]="'bg6'" [btn]="false" [header]="{title: 'Partners', text: 'Meet our partners'}"></app-header>


<div class="grid">
    <figure class="effect-steve">
        <img src="https://source.unsplash.com/random" alt="img29" />
        <figcaption>
            <h5> <i class="fas fa-gavel"></i>
                
                <span>Legal Partners</span>
            </h5>
            <p>when you click you will see the partners below</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="https://source.unsplash.com/random" alt="img33" />
        <figcaption>
            <h5><i class="fas fa-laptop"></i>
                
                <span>Technical Partners</span>
            </h5>
            <p>when you click you will see the partners below</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="https://source.unsplash.com/random" alt="img33" />
        <figcaption>
            <h5><i class="fas fa-dollar-sign"></i>
                <span>Financial Partners</span>
            </h5>
            <p>when you click you will see the partners below</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>