footer {
    background: linear-gradient(#C1539E, #82115E);
    width: 100vw;
}
.social {
    display: flex;
    justify-content: center;
}

.social-link {
    display: flex;
    width: 10%;
    flex-direction: row;
    margin: 50px 0;
}

.social-link i, .up i {
    color: #ff539E;
    background: white;
    border-radius: 50%;
    padding: 10px;
}

.social-link i:hover, .up i:hover {
    color: white;
    background: #FA05AF;
    box-shadow: 0px 1px 20px deeppink;
}

@media(max-width: 768px) {
    .social-link {
        margin: 50px 20px;
    }    
}