#footer {
    background: url(https://source.unsplash.com/random);
    width: 100vw;
    height: 400px;
    margin-top: -20px;
    background-size: cover;
    background-attachment: fixed;
}

.footer-img {
    grid-template-columns: 1fr 1fr;
    display: grid;
    background-attachment: fixed;
    background: #1E303B;
    background-size: cover;
}

.social {
  margin: 10%;
}

.social li {
  display: inline;
}

.social i {
    color: white;
    padding: 10px;
    border-radius: 50%;
    background: #fc6767;
    box-shadow: 0px 1px 20px #fc6767;
}

.social i:hover {
  color: white;
  background-color: #1E303B;
}

.contact {
    display: block;
    margin: 80px 0;
}
li {
    list-style: none;
    color: white;
    margin: 3%;
    font-size: 14px;
}

a {
    color: white;
}

@media(max-width: 1024px) {
    .footer-img {
        grid-template-columns: 1fr;
    }
}
