#footer {
    background: url(https://source.unsplash.com/random);     
    width: 100vw;
    height: 400px;
    margin-top: -20px;
    background-size: cover;
    background-attachment: fixed;
}

.footer-img {
    grid-template-columns: 1fr 1fr;
    display: grid;
    background-attachment: fixed;
    background: #1E303B;
    background-size: cover;
}

.social {
    display: flex;
    justify-content: center;
}

.social-link {
    display: flex;
    width: 10%;
    flex-direction: row;
    margin: 50px 0;
}

.social-link i, .up i {
    color: #fc6767;
    background: white;
    border-radius: 50%;
    padding: 10px;
}

.social-link i:hover, .up i:hover {
    color: white;
    background: #fc6767;
    box-shadow: 0px 1px 20px #fc6767;
}

.contact {
    display: block;
    margin: 80px 0;
}
li {
    list-style: none;
    color: white;
    margin-bottom: 3%;
    font-size: 14px;
}

a {
    color: white;
}

@media(max-width: 1024px) {
    .social-link {
        margin: 50px 20px;
    }    
    footer {
        grid-template-columns: 1fr;
    }
}
