<section class="counter">
  <div class="container">
    <div class="numbers p-3">

      <div class="num text-white text-center">
        <h3 class="hire wow animated rotateIn slow">13K</h3>
        <h5 class="wow animated slow flipInX">cups of coffee</h5>
        <div>
          <i class="fa fa-coffee"></i>
        </div>
      </div>

      <div class="num text-white text-center">
        <h3 class="hire wow animated rotateIn slow delay-1s">12</h3>
        <h5 class="wow animated slow flipInX">Awesome Staff Members</h5>
        <div>
          <i class="fa fa-users"></i>
        </div>
      </div>

      <div class="num text-white text-center">
        <h3 class="hire wow animated rotateIn slow delay-2s">10K+</h3>
        <h5 class="wow animated slow flipInX">Hacking Hours</h5>
        <div>
          <i class="fa fa-clock"></i>
        </div>
      </div>

      <div class="num text-white text-center">
        <h3 class="hire wow animated rotateIn slow delay-3s">105</h3>
        <h5 class="wow animated slow flipInX">Graduated Software Engineer</h5>
        <div>
          <i class="fa fa-user"></i>
        </div>
      </div>
    </div>
  </div>
</section>