<section class="counter">
  <div class="head">
    <h1>RBK
      <span>Statistics </span>
    </h1>
  </div>
  <div class="holder-image py-0">
    <img src="assets/images/counter-bg.jpg" alt="" class="img-fluid">
  </div>
  <div class="background-image-maker" style="background-image: url(&quot;assets/images/counter-bg.jpg&quot;);">
  </div>
  <div class="container">
    <div class="row  ">

      <div class=" col-md-3 mx-auto text-center ">
        <div class="single_counter text-white">
          <div class="fa fa-users fa-5x text-white pb-3">
          </div>
          <h3 class="statistic-counter text-white">105 Graduated</h3>
          <h6 class="text-uppercase text-white">Software Engineer</h6>
        </div>

      </div>
      <div class=" col-md-3 mx-auto text-white text-center">
        <div class="single_counter p-y-2 m-t-1 text-white">
          <div class="fa fa-chart-bar text-white fa-5x text-white pb-3"></div>
          <h3 class="statistic-counter text-white">97%</h3>
          <h6 class="text-white text-uppercase">Hiring rate</h6>
        </div>
      </div>

      <div class=" col-md-3 mx-auto text-center text-white">
        <div class="fact-box mb-5 mb-lg-0">
          <div class="fa fa-money-bill fa-5x text-white pb-3">
          </div>
          <h3 class="statistic-counter text-white">803 JD</h3>
          <h6 class="text-uppercase text-white">Average salary</h6>
        </div>
      </div>

      <div class="  col-md-3 mx-auto text-center text-white">
        <div class="single_counter p-y-2 m-t-1">
          <div class="fa fa-calendar text-white fa-5x text-white pb-3">
          </div>
          <h2 class="statistic-counter text-white">2.5 Months</h2>
          <h6 class="text-uppercase text-white">Average hiring time</h6>
        </div>
      </div>

    </div>
  </div>
</section>