<section class="counter">
  <div class="inner">

    <div class="numbers">

      <div class="num text-white text-center icon1">
        <h2 class="hire wow animated rotateIn slow delay-3s">105</h2>
        <h5 class="wow animated slow flipInX">Graduated Software Engineer</h5>
      </div>
           
      <div class="num text-white text-center  icon2">
        <h2 class="hire wow animated rotateIn slower delay-2s">97%</h2>
        <h5 class="wow animated slower flipInX ">Hiring rate</h5>
        </div>

      <div class="num text-white text-center icon3">
        <h2 class="hire wow animated rotateIn slower delay-3s">803JD</h2>
        <h5 class="wow animated slower flipInX">Average salary</h5>
      </div>

      <div class="num text-white text-center icon4">
        <h2 class="hire wow animated rotateIn slower delay-4s">2.5</h2>
        <h5 class="wow animated slower flipInX">Months Average hiring time</h5>
       
      </div>


    </div>
  </div>
</section>
