.counter {
    min-height: 200px;
    overflow: hidden;
    background: url(https://source.unsplash.com/random);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.inner {
    background: linear-gradient( #fc6767, transparent);
}

.numbers {
    padding: 5% 0%;
    display: grid;
    margin: 0% 10%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}

.num {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid white;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    margin: 60px;
}


h5 {
    font-size: 14px;
}

@media(max-width: 1200px) {
    .numbers {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .num {
        margin: 100px;
    }
}

@media(max-width: 768px) {
    .numbers {
        display: grid;
        grid-template-columns: 100%;
    }

    .num {
        margin: 50px auto;
    }
}
