.what-img {
    background: url(https://source.unsplash.com/random);
    /* background: url(../../../../../../assets/RBK/guys.jpg); */
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3%;
}



.what-text {
    margin-bottom: 10vh;
    text-align: center;
    padding: 100px;
}

.head {
    height: 100px;
}

@media(max-width: 768px) {
    .what-text {
        margin: 50px;
        padding: 10px;
    }
    
}