<div class="animated slower fadeIn">

    <app-header [bg]="'bg2'" [header]="{title: 'Admissions', text: 'Get after your dream !'}"></app-header>

    <div class="head m-4">
        <h1>what would you need to
            <span>succeed</span>
        </h1>
    </div>

    <div class="container">

        <!-- the first card -->
        <mat-card class="border-r m-4">
            <mat-card-content class="m-card">
                <img src="https://source.unsplash.com/random" alt="" class="card-img">
                <p class="card-text">In order for you to succeed, we’d like to know a bit more about you. Our Admissions gate is designed for
                    you to test yourself and see if you have what it takes. Ranging from mindset to technical ability, the
                    Admissions tests will require your full attention and time.</p>

            </mat-card-content>
        </mat-card>


        <!-- the 2nd card -->
        <mat-card class="border-r m-4">
            <mat-card-content class="m-card">

                <img src="https://source.unsplash.com/random" alt="" class="card-img">
                <p class="card-text">Anyone can apply for our eXtreme Learning program ! All you have to do is pass our Admissions tests. These
                    tests can last anywhere between 2 to 3 months depending on the effort you put in. Once you’ve crossed
                    those hurdles, you earn the right to an interview. All the information and answers you provide are confidential
                    and will not be shared with anyone but you !</p>
            </mat-card-content>
        </mat-card>


        <!-- the 3rd card -->
        <mat-card class="border-r m-4">
            <mat-card-content class="m-card">
                <img src="https://source.unsplash.com/random" alt="" class="card-img">
                <p class="card-text">We graduate the best software programmers this side of the hemisphere if not the world ! It takes grit, passion,
                    dedication and commitment to finish the course and begin a prosperous and fulfilling life. Before you
                    are officially admitted to the Program, you’ll have to commit to 16-hour days for 4 months in order to
                    graduate as a Silicon Valley grade software engineer.</p>

            </mat-card-content>
        </mat-card>

        <!-- expectations -->
        <div class="head m-4">
            <h1>what you can
                <span>Expect</span>
            </h1>
        </div>


        <mat-card class="border-r m-4">
            <mat-card-content class="m-card"></mat-card-content>

            <p class="card-text">
                200 questions that you must complete. These will help us to get to know you 250 to 300 online lessons that you must successfully
                complete and pass Yes. It sounds hard, we know. But if you can do this, you can do anything !
            </p>
        </mat-card>
    </div>


    <!-- apply now -->
    <!-- expectations -->
    <div class="head">
        <h1 class="bg-dark">Are you ready to change your
            <span>Life?</span>
        </h1>
        <button class="btn btn-primary animated infinite pulse">Apply Now!
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>

</div>