<mat-card class="m-4">
  <mat-card-content>
    <p>
      Our graduates have a 98% employment level within 6 months of graduation ! But most find a job within 2.5 months with a great
      company.
    </p>
  </mat-card-content>
</mat-card>


<mat-card class="hiring-wrap container">
    <img class="company" src="../../../../../../assets/RBK/hiring/ArabiaWeather.jpg" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/britecore-logo.png" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/expedia-logo.png" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/ihorizonslogo.png" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/logo.jpg" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/logo_white.png" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/MadfooatCom-Logo-01.jpg" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/MXD_website.jpg" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/open_souq.png" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/souq_website.jpg" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/standard-logo.png" alt="">
    <img class="company" src="../../../../../../assets/RBK/hiring/team5.png" alt="">
</mat-card>