<mat-card class="m-4">
  <mat-card-content>
    <img src="https://source.unsplash.com/random" alt="">
    <p>
      Our graduates have a 98% employment level within 6 months of graduation ! But most find a job within 2.5 months with a great
      company.
    </p>
  </mat-card-content>
</mat-card>


<mat-card class="hiring-wrap container">
  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/ArabiaWeather.jpg" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/britecore-logo.png" alt="">
  </div>
  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/expedia-logo.png" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/ihorizonslogo.png" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/logo.jpg" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/logo_white.png" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/MadfooatCom-Logo-01.jpg" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/MXD_website.jpg" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/open_souq.png" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/souq_website.jpg" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/standard-logo.png" alt="">
  </div>

  <div class="company">
    <img  src="../../../../../../assets/RBK/hiring/team5.png" alt="">
  </div>

</mat-card>