.hero {
    width: 100%;
    height: 700px;
}


.header-text {
    color: #ddd;
    text-align: center; 
}

.title {
    color: #fff;
    text-align: center; 
    font-weight: bold;
}



.header-image {
    height: 60px;
    margin: 100px;
}


.bg1 {
    background: url(https://awllpaper.com/wp-content/uploads/2018/03/dark-pink-flower-wallpaper-colorful-flowers-dark-background-16164.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

.bg2 {
    background: url(../../../../../assets/RBK/bg/20180216_tent_ARLT-004.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg3 {
    background: url(../../../../../assets/RBK/bg/20180216_tent_ARLT-008.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg4 {
    background: url(../../../../../assets/RBK/bg/curr.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg5 {
    background: url(../../../../../assets/RBK/bg/nada.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg6 {
    background: url(../../../../../assets/RBK/company.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header-image {
    max-width: 200px;
}
