<app-header [bg]="'bg3'" [header]="{title: 'The Program', text: 'This is RBK campers journey for 4 months!'}"></app-header>
<div class="container">


    <div class="head m-4">
        <h1>The
            <span>PROGRAM</span>
        </h1>
    </div>

    <!-- the first card -->
    <mat-card class="border-r m-4">
        <mat-card-content>
            <p class="card-text">The main course of the Program is structured around the world famous Hack Reactor curriculum. However, at RBK, we
            will also work on your communication, teamwork, leadership, critical thinking and creativity skills. Just as
            importantly, we will enhance your stress levels by pushing you to your maximum limit.</p>
        </mat-card-content>
    </mat-card>

    <div class="m-5" *ngFor="let article of articles">

        <mat-card class="border-r animated slower infinite pulse">
            <mat-card-header>
                <mat-card-title>
                    {{ article.title }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-card">
                <img src="https://source.unsplash.com/random" alt="" class="card-img">
                <p class="card-text">{{ article.text }}</p>
            </mat-card-content>
        </mat-card>

    </div>
</div>