/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/fontawesome/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Karla|Maven+Pro|Quicksand|Varela+Round');
body {
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Varela Round', 'Karla', 'Quicksand', 'Maven Pro' !important;
  /* font-family: 'Maven Pro', sans-serif; */
  overflow-x: hidden;
  background: linear-gradient(#000, #fff);
  margin: 0%;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, button, span {
  font-family: 'Varela Round', 'Karla', 'Quicksand', 'Maven Pro' !important;
}

i {
  font-size: 25px;
  margin: 10px;
  color: #fff;
}

i:active {
  color: #FF3383;
}

.mat-tab-body-content {
  overflow: hidden!important;
}


.mat-tab-label-content {
  font-size: 18px;
}

.mat-tab-label-content:hover {
  color: #FF3383;
}

.mat-tab-label-content:hover i {
  color: #FF3383;
}


.mat-tab-labels {
  justify-content: center;
  border: none;
  width: 99%;
  background: rgba(0, 0, 0, .1);
}

a:hover {
  text-decoration: none;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #FF3383;
  height: 3px;
}

.bg-rbk {
  background-color: #FF3383;
}

.bg-black {
  background: black;
}

.text-rbk {
  color: #FF3383;
}

.btn-primary {
  background-color: #FF3383;
  border: none;
  padding: 5px 40px;
  border: none;
}

.btn-primary:hover {
  background-color: #FA05AF;
}

.btn-primary i {
  color: white;
  display: none;
}

.btn-primary:hover i {
  display: inline;
}

.text-15 {
  font-size: 15px;
}

.mat-card-content,
.mat-card-subtitle {
  font-size: 20px;
  overflow: hidden;
}

.mat-card-header .mat-card-title {
  font-size: 24px;
}

.head {
  text-align: center;
  margin-top: 70px;
}

.head h1 {
  color: white;
  font: 100;
}

.head span {
  color: #FF3383;
  font-weight: bolder;
}

.border-r {
  border-right: 8px solid #ff3383;
}

.border-l {
  border-left: 8px solid #ff3383;
}

/* animations */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}