/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/fontawesome/css/all.min.css";

body {
    overflow-x: hidden;
}

i {
    font-size: 25px;
    margin: 10px;
    color: #999999;
}
i:active {
    color: #B51783;
}

.mat-tab-label-content:hover {
    color: #B51783;
}

.mat-tab-label-content:hover i {
    color: #B51783;
}

.mat-tab-labels {
    justify-content: center;
}

a:hover {
    text-decoration: none;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #B51783;
    height: 3px;
}

.bg-rbk {
    background-color: #B51783;
}


.text-rbk {
    color: #B51783;
}

.btn-primary {
    background-color: #B51783;
    border: none;
    padding: 5px 40px;
    border: none;
}

.btn-primary:hover {
    background-color: #FA05AF;

}

.btn-primary i {
    color: white;
    display: none;
}
    

.btn-primary:hover i {
    display: inline;
}