<nav class="container-fluid">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-home"></i>
        Home
      </ng-template>
      <app-main></app-main>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-sign"></i>
        Admission
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-calendar-alt"></i>
        Program
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-users"></i>
        Outcomes
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-desktop"></i>
        Curriculum
      </ng-template>
      Content 1
    </mat-tab>

  </mat-tab-group>
</nav>
