<nav class="container-fluid">
  <mat-tab-group (click)="setTab($event)">
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-home"></i>
        Home
      </ng-template>
      <app-main></app-main>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-sign"></i>
        Admission
      </ng-template>
      <app-admission></app-admission>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-calendar-alt"></i>
        Program
      </ng-template>
      <app-program></app-program>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-users"></i>
        Outcomes
      </ng-template>
      <app-outcomes></app-outcomes>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <i class="fas fa-desktop"></i>
        Curriculum
      </ng-template>
      <app-curriculum></app-curriculum>
    </mat-tab>

  </mat-tab-group>
</nav>