<section id="why">
  <div class="head">
    <h1>Why
      <span>RBK?</span>
    </h1>
  </div>
  <div class="Our-Grads">
    <div class="row">
      <div id="Stories">
        <div id="SuccessStories">
          <div id="SuccessStoriesWord">
            <h4>What Reboot Camp Jordan Strives For?!</h4>
            <p>Although our interests reside mainly in the low-income Jordanian and refugee demographics, our aim is to help anyone
              become a proponent of peace and advancement by empowering them with the tools needed for a successful and fruitful
            life.</p>
          </div>
        </div>
      </div>

      <div class="row" id="GradsImage">
        <div id="GradsUpImage"></div>
        <div id="GradsDownImage"></div>
      </div>

      <div id="GradsSlide" class="gradP">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id="GradSlideTop">
                <h1 style="font-size: 20px">RBK imparts essential skill technical and non-technical skills demanded by industry.
                  Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                An important dividend of the training is English fluency.</h1>
              </div>
              <br>
            </div>

            <div class="carousel-item">
              <div id="GradSlideTop">
               <h1 style="font-size: 20px">RBK imparts essential skill technical and non-technical skills demanded by industry.
                  Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                An important dividend of the training is English fluency.</h1>
              </div>
              <br>
            </div>

            <div class="carousel-item">
              <div id="GradSlideTop">
                <h1 style="font-size: 20px">RBK imparts essential skill technical and non-technical skills demanded by industry.
                  Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                An important dividend of the training is English fluency.</h1>
              </div>
              <br>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="head"></div>
  <div class="head"></div>
</section>