<div class="why">

  <div class="bg-divider"></div>
  <section id="why" class="container">
    <div class="head wow animated slow fadeIn">
      <h1>Why
        <span>RBK?</span>
      </h1>
    </div>
    <div class="head reflect">
      <h1>Why
        <span>RBK?</span>
      </h1>
    </div>

    <div class="cards-why">

      <!-- the first card -->
      <mat-card class="m-card border-r wow animated slow slideInRight">
        <mat-card-header>
          <mat-card-title>
            <h3>
              In the MENA region
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="card-content">
          <img src="../../../../../../assets/RBK/unemployed.jpg" alt="" class="card-img">
          <p class="card-text">the unemployment rate is a staggering 30%. Of those, 50% are aged between 19 and 24 and the general consensus is
            that there are no jobs to be found. That information is incorrect !</p>
        </mat-card-content>
      </mat-card>

      <!-- the 2 card -->
      <mat-card class="m-card border-l wow animated slow slideInLeft">
        <mat-card-header>
          <mat-card-title>
            <h3>
              What RebootKamp Jordan strives for is simple
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="card-content">
          <img src="../../../../../../assets/RBK/guys.jpg" alt="" class="card-img">
          <p class="card-text">Although our interests reside mainly in the low-income Jordanian and refugee demographics, our aim is to help anyone
            become a proponent of peace and advancement by empowering them with the tools needed for a successful and fruitful
            life.
          </p>
        </mat-card-content>
      </mat-card>

      <!-- the 3 card -->
      <mat-card class="m-card border-r wow animated slow slideInRight">
        <mat-card-header>
          <mat-card-title>
            <h3>
              There is an immediate need
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="card-content">
          <img src="../../../../../../assets/RBK/cohort4.jpg" alt="" class="card-img">
          <p class="card-text">for 8.2 Million software developers in the world There is an immediate need for 8.2 Million software developers
            in the world, and that’s just for 2019 ! In Jordan alone, about 3000 software developers are needed every year.
            Tech jobs are plentiful, but there aren’t enough qualified software engineers to go round. And this is where
            we come</p>
        </mat-card-content>
      </mat-card>

      <!-- the 4 card -->
      <mat-card class="m-card border-l wow animated slow slideInLeft">
        <mat-card-header>
          <mat-card-title>
            <h3>
              what we do is
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="card-content">
          <img src="../../../../../../assets/RBK/company.png" alt="" class="card-img">
          <p class="card-text">
            We impart essential technical and non-technical skills mandated by industry for anyone to take part in the 4th industrial
            revolution as a Software Developer.</p>
        </mat-card-content>
      </mat-card>

      <!-- the 5 card -->
      <mat-card class="m-card border-r wow animated slow slideInRight">
        <mat-card-header>
          <mat-card-title>
            <h3>
              There are no restrictions
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="card-content">
          <img src="../../../../../../assets/RBK/guys.jpg" alt="" class="card-img">
          <p class="card-text">
            There are no age restrictions. There are no educational restrictions. There are no nationality restrictions, and there are
            no religious restrictions. However, and since 70% of educated women remain unemployed in the region, we stipulate
            that each class is 50% female</p>
        </mat-card-content>
      </mat-card>

      <!-- the 6 card -->
      <mat-card class="m-card border-l wow animated slow slideInLeft">
        <mat-card-header>
          <mat-card-title>
            <h3>
              In a co-habitation environment
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="card-content">
          <img src="../../../../../../assets/RBK/cohort2.jpg" alt="" class="card-img">
          <p class="card-text">
            and a 16-week period, we take candidates from Zero to Hero by using what is arguably the best software development curriculum
            in the world developed by our partners at Hack Reactor.</p>
        </mat-card-content>
      </mat-card>

      <!-- the 7 card -->
      <mat-card class="m-card border-r wow animated slow slideInRight">
        <mat-card-header>
          <mat-card-title>
            <h3>
              This is the future
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="card-content">
          <img src="../../../../../../assets/RBK/future.jpg" alt="" class="card-img">
          <p class="card-text">
            The world is heading towards an infrastructure driven by code Everything will require coding, from construction to medical
            surgery. There is no escaping this</p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
