#why{
    min-height: 150px;
    overflow: hidden;
    background: url("../../../../../../assets/RBK/background_00000.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    box-sizing: border-box;
    font-family: 'Varela Round', 'Karla', 'Quicksand', 'Maven Pro' !important;
}
h4{
    color: #fc5858;
}
p{
  color: white;
}
.Our-Grads{
    width: 100%;
    padding: 0;
    height: 400px;
}
.row{
    width: 100%;
    margin: 1%;
    height: 100%;
    margin-left: 3%
}
#SuccessStories{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}
.gradP{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

#SuccessStoriesWord{
    padding: 7%;
    margin: 0;
    font-size: large;
    width: fit-content;
}
#Stories{
    background-image: url("../../../../../../assets/RBK/guys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    position: relative;
}
hr{
    width: 50%;
}
.companySlide{
    width: 100%;
    padding: 3% 12%;
}
.Arrow{
    width: 4.16%;
}
#LArrow{
    background-image: url("../../../../../../assets/RBK/guys.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 70%;
    margin: 0;
    padding: 0;
    float:left;
    background-position: center;
    cursor: pointer;
}
#RArrow{
    background-image: url("../../../../../../assets/RBK/cohort2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 70%;
    margin: 0;
    padding: 0;
    float:right;
    background-position: center;
    cursor: pointer;
}
.col{
    padding: 0;
}
.companyLogo{
    margin-top: 5%;
    max-width: 100%; 
    padding: 10% 5%;
    margin: 0;
}
.Arrow{
    background-color: white;
    z-index: 10;
}


@media screen and (max-width: 600px) {
    #Stories{
        width: 100% !important;
    }
    #GradsImage{
        width: 100% !important;
        height: 50% !important;
    }
    #GradsUpImage{
        width: 50% !important;
        height: 100% !important;
    }
    #GradsDownImage{
        width: 50% !important;
        height: 100% !important;
    }
    #GradsSlide{
        width: 100% !important;
        height: 100% !important;
        padding: 10% 10% 5% 10% !important;
    }
    .companySlide{
        padding: 3% 0 !important;
    }
    #GradText{
        font-size: medium !important;
    }
}
#GradsImage{
    width: 20%;
    height: 100%;
}
#GradsUpImage{
    background-image: url("../../../../../../assets/RBK/cohort4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}
#GradsDownImage{
    background-image: url("../../../../../../assets/RBK/cohort2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}
#GradsSlide{
    background-image: url("../../../../../../assets/RBK/cohort4.jpg");
    width: 40%;
    padding: 4% 4% 2% 4%;
    position: relative;

}
#GradsSlide:before {
  content: '';
  position: absolute;
  bottom: 0; right: 0;
  /*width: 0;*/
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;

}
#GradSlideTop{
    text-align: justify;
    line-height: 1;
    height: 60%;
    color: white;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
#line{
    width: 100%;
    height: 1.4vh;
}
#gradSlideBottom{
    padding-top: 3%;
    height: 40%;
    position: absolute;
    bottom: 0;
}
#gradInfo{
    height: 80%;
    position: relative;
}
#GradPicture{
    height: 100%; 
    float: left;
}
#GradText{
    padding-left: 4%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    line-height: 0.85;
    width: fit-content;
    font-size: small;
}
#gradName{
    color: white;
}
#gradSpecialized{
    color: #fc5858;
}
#gradCompany{
    color: white;
}
.carousel{
    height: 100%;
    position: relative;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 90%;
}
.carousel-indicators > li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: 20px;
  margin: 0 5px;
  background-color: white;
}
.carousel-indicators .active {
    background-color: #fc5858;
}