<section id="why">
  <div class="head">
    <h1>Why
      <span>RBK?</span>
    </h1>
  </div>
  <div class="Our-Grads">
    <div class="row">
      <div id="Stories">
        <div id="SuccessStories">
          <div id="SuccessStoriesWord">
            <h3 style="font-weight: bold;">What Reboot Camp Jordan Strives For?!</h3>
            <h1 style="font-size: 20px;">Although our interests reside mainly in the low-income Jordanian and refugee demographics, our aim is to help anyone
              become a proponent of peace and advancement by empowering them with the tools needed for a successful and fruitful
              life.
            </h1>
          </div>
        </div>
      </div>

      <div id="GradsSlide" class="gradP">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id="GradSlideTop">
                <h3 style="font-weight: bold">In the MENA region</h3>
                <h1 style="font-size: 20px">
                  The unemployment rate is a staggering 30%. Of those, 50% are aged between 19 and 24 and the general consensus is that there are no jobs to be found. That information is incorrect!
                </h1>
              </div>
              <br>
            </div>

            <div class="carousel-item">
              <div id="GradSlideTop">
                <h3 style="font-weight: bold">There are no restrictions</h3>
                <h1 style="font-size: 20px">
                  There are no age restrictions. <br> There are no educational restrictions.<br> There are no nationality
                  restrictions.
                  <br> There are no religious restrictions. <br> However, and since 70% of educated women remain unemployed
                  in the region, we stipulate that each class is 50% female.
                </h1>
              </div>
              <br>
            </div>

            <div class="carousel-item">
              <div id="GradSlideTop">
                <h3 style="font-weight: bold">There is an immediate need</h3>
                <h1 style="font-size: 20px">
                  For 8.2 Million software developers in the world There is an immediate need for 8.2 Million software developers in the world, and that’s just for 2019 ! In Jordan alone, about 3000 software developers are needed every year. Tech
                  jobs are plentiful, but there aren’t enough qualified software engineers to go round. And this is where we come.
                </h1>
              </div>
              <br>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
</section>

