section {
    margin-top: 10%;
}
.card-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card-text {
    margin: 20px;
    padding: 5%;
    border: solid #fc6767 1px;
    border-radius: 15px;
}

.m-card {
    margin: 100px auto;
    min-height: 400px;
}


.cards-why {
    overflow: hidden;
}

@media(max-width: 768px) {
    .card-content {
        grid-template-columns: 100%;
    }
}

.why {
  background: linear-gradient(#1E303B , #fc6767);
    background-attachment: fixed;
}